th{
    text-align: center;
}

.cart__img-box img{
    width: 50px;
}

.cart__del-item i {
    cursor: pointer;
}

.addToCart__btn a{
    text-decoration: none;
    color: #fff;
}

.cart__subtotal span{
    color: #df2020;
    font-size: 1.5rem;
}

@media only screen and (max-width: 768px){
    th, td{
        font-size: 0.8rem;
    }
}