.footer {
    background-color: rgb(254, 228, 228);
    width: 100%;
    padding-top: 50px;
    padding-bottom: 35px;
}

.footer__logo img {
    width: calc(100% - 80%);
    margin-bottom: 5px;
}

.footer__logo h5 {
    font-size: 0.8rem;
    font-weight: 600;
    margin-bottom: 15px;
}

.footer__logo p {
    color: #333;
    line-height: 30px;
}

.delivery__time-item {
    background: transparent !important;
}

.delivery__time-item span {
    font-size: 1rem;
    font-weight: 500;
    color: #212245;
}


.delivery__time-item p {
    color: #212245;
}

.footer__title {
    font-size: 1.1rem;
    font-weight: 500;
    color: #212245;
}

.newsletter {
    padding: 7px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #212245;
    border-radius: 5px;
    cursor: pointer;
}

.newsletter input {
    background: transparent !important;
    border: none;
    outline: none;
}

.newsletter span {
    background-color: #df2020;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 10px;
    border-radius: 6px;
}

.newsletter span i {
    color: #fff;

}

.newsletter input ::placeholder {
    color: #212245;
}


.social__links span {
    background-color: #df2020;
    padding: 4px;
    border-radius: 50%;
    font-weight: 600;
    font-size: 0.8rem;
}

.social__links span i {
    color: #fff;
    padding: 2px;

}

.social__links span a {
    text-decoration: none;
}

.copy__links {
    font-size: 1.2rem;
    color: #df2020;
}

@media only screen and (max-width: 768px) {
    .footer__title{
        font-size: 0.9rem;
        font-weight: bold;
    }

    .delivery__time-item span {
        font-size: 0.8rem;
    }

    .delivery__time-item p {
        font-size: 0.8rem;
        margin-bottom: 0;
    }

    .newsletter input{
        padding: 7px;
        font-size: 0.7rem;
    }

    .newsletter span {
        font-size: 0.7rem;
        padding: 4px 15px;
    }

    .social__links p {
        font-size: 0.8rem;
    }

    .social__links span {
        padding: 2px 4px;
    }

    .social__links span a {
        font-size: 0.6rem;
    }
}


@media only screen and (max-width: 992px) {
    .newsletter input{
        padding: 7px;
        font-size: 0.7rem;
    }

    .newsletter span {
        font-size: 0.7rem;
        padding: 4px 15px;
    }
}